@import url('https://fonts.googleapis.com/css2?family= EB+Garamond:wght@600 & display=swap');
@import url('https://fonts.googleapis.com/css2?family= Akatab :wght@400;700 & display=swap');


header{
    background-image: url(../img/jeans-pl_fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'EB Garamond', serif;
    opacity: 90%;
}
h1{
    font-size: 76px;
    font-style:unset;
}
nav{
    font-family: 'Akatab', sans-serif;
}
img{
  width: 100%;  

}
.container{
    margin: auto;
    padding: 10px;
}
.container p{
    font-family: 'Akatab', sans-serif;  
    text-align: justify;
}
.carrosel{
    padding-top: 35px;
    margin: auto;
    width: 700px;
    height: 550px;
    font-family: 'Akatab', sans-serif;
  
}
footer{
    padding: 0px;
    margin: auto;
    font-family: 'Akatab', sans-serif;
}

@media screen and (max-width:768px){
    .carrosel{
        margin: auto;
        padding-left: 0px;
        width: 90%;
        display: none;   
    }
    .container{
        margin: auto;
        padding-left: 0px;
    }
    .footer{
        font-size: 5px;
    }

}